/results
/catboost_info
/__pycache__
/data
/resultsTransformer
/finetunedTransformer_1
/Large_Bert_model
/lora_portuguese_model
/resultsAlbertina
/alberta_base
/alberta_large
/resultsAlbertinaLarge
/xlm_finetuned
